.main {
    height: 100vh;
    background-color: black;
    background-image: url("../../assets/background1.png");
    background-size: cover;
}
.form{
    position: relative;
    height: 100%;
}

.rectangle {
    height: 55%;
    padding-top: 80px;
    padding-left: 50px;
    background-image: url("../../assets/Rectangle_Left.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.title {
    margin-left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 73px;
    letter-spacing: 0;
    text-align: left;
    color: white;
}

.description {
    top: 20px;
    color: white;
    margin-left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.buttonBron {
    background: #957CCB;
    width: 300px;
    height: 70px;
    top: 50px;
    left: 140px;
    border-radius: 18px;
    gap: 10px;
    border-color: #957CCB;
    margin-left: 14px;
}
.buttonBron:hover::before {
    border-color: #c016ac;
}

.buttonTariff {
    background: rgba(5, 5, 5, 0);
    width: 210px;
    height: 70px;
    top: 50px;
    left: 180px;
    padding: 10px;
    border-radius: 18px;
    /*border: 8px;*/
    border-width: 6px;
    gap: 10px;
    border-color: #957CCB;
}


.button2:hover{
    background: #C3A7FF;
    border-color: #C3A7FF;
}

.advantages {
    width: 1286px;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 32px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.advantages_container {
    width: 100%;
    height: 45%;
    background-color: rgba(15, 15, 16, 0.94);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}


