.main {
    /*width: 1525px;*/
    /*height: 995px;*/
    width: 1920px;
    height: 800px;
    flex-shrink: 0;
    background-color: black;
    background-image: url("../../assets/4k-cyberpunk-2077-ps-game-sr-1920x1080 1.png");
    padding-right: 0;
    padding-left: 0;
}
.form{
    background-image: url("http://www.w3.org/2000/svg");
    width: 1143px;
    height: 525px;
    flex-shrink: 0;

}
.title {
    margin-top: 100px;
    margin-left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.description {
    top: 20px;
    color: white;
    margin-left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.button1 {
    background: #957CCB;
    width: 300px;
    height: 70px;
    top: 50px;
    left: 140px;
    padding: 10px;
    border-radius: 18px;
    gap: 10px;
    border-color: #957CCB;

}

.button2 {
    background: #050505;
    width: 210px;
    height: 70px;
    top: 50px;
    left: 180px;
    padding: 10px;
    border-radius: 18px;
    /*border: 8px;*/
    border-width: 6px;
    gap: 10px;
    border-color: #957CCB;
}


.button2:hover{
    background: #C3A7FF;
    border-color: #C3A7FF;
}

.advantages {
    color: white;
    margin-top: 250px;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;

}
.advantages p {
    /*margin-bottom: 20px;*/
}

