.pricing_list {
    background-color: black;
    background-image: url("../../../assets/background4.png");
    background-size: cover;
    height: 716px;
    display: flex;
    justify-content: left;
}

.content {
    display: flex;
    justify-content: right;
    height: 100%;

}
.rectangle {
    width: 70%;
    padding-left: 180px;
    background-image: url("../../../assets/Rectangle_Right.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.subtitle {
    font-weight: 700;
}

.title {
    margin: 100px 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 61px;
    color: white;
}

.prices {
    position: relative;
    width: 777px;
    height: 391px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.title2 {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 33px;
    color: white;
}


.AngleUp {
    position: absolute;
    top: 0;
    right: 0;
    height: 94px;
}

.AngleDown {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 94px;
}


.title4 {
    margin: 20px 20px 0 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0;
    text-align: center;
}

.title4_1 {
    margin-top: 20px;
    color: white;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0;
    text-align: center;
}