.block{
        background-color: #000000;
        width: 1920px;
        height: 765px;
        flex-shrink: 0;
}
.title{
        justify-content: center;
        padding-left: 800px;
        padding-top: 109px;
        color: #FFF;
        font-family: Montserrat, sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}

.carousel{
        width: 1000px;
        height: 400px;
        /*justify-content: center;*/
        padding-top: 61px;
        padding-left: 500px;
        margin-left: 160px;
}

.photo{
        width: 600px;
        height: 306px;
        flex-shrink: 0;
}