.block {
    background-color: #000000;
    height: 995px;
    flex-shrink: 0;
}

.title {
    justify-content: center;
    padding-left: 630px;
    padding-top: 109px;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.carousel {
    width: 900px;
    height: 400px;
    /*justify-content: center;*/
    padding-top: 61px;
    padding-left: 260px;
    margin-left: 160px;
}

.photo {
    width: 650px;
    height: 400px;
    flex-shrink: 0;
}