.block {
    background-color: #000000;
    height: 800px;
    flex-shrink: 0;
}

.title {
    justify-content: center;
    padding-left: 600px;
    padding-top: 109px;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.carousel {
    width:1300px;
    /*margin: 2px;*/
    height: 400px;
    justify-content: center;
    padding-top: 101px;
    padding-left: 40px;
    /*margin-left: 160px;*/
}

.photo {
    width: 406px;
    height: 309px;
    margin-left: 101px;
    flex-shrink: 0;
    justify-content: space-between;

}